conf/paymentResponse.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="payment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amount" type="xs:decimal" />
                <xs:element name="cardHolder" type="xs:string" />
                <xs:element name="cardNumber" type="xs:string" />
                <xs:element name="expiryMonth" type="xs:int" />
                <xs:element name="expiryYear" type="xs:int" />
                <xs:element name="paid" type="xs:dateTime" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
